<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
<h1 th:text="'List of Owners'">List of Owners</h1>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 100px;">Id</th>
        <th style="width: 200px;">FirstName</th>
        <th style="width: 200px;">LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">id</td>
        <td th:text="${owner.firstName}">firstName</td>
        <td th:text="${owner.lastName}">lastName</td>
    </tr>
    </tbody>
</table>
</body>
</html>